body {
  font-family: "Roboto";
}
.hero-section {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  
}

.header p {
    font-size: 24px;
    color: #F9FAF8;
    margin: 0;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  
}

.hero-text {
  width: 500px;
  
}

h1, .hero-text p {
  margin: 0;
}

.hero-section img {
    width: 500px;
}

.hero-text h1 {
    font-size: 48px;
    color: #F9FAF8;
}

.hero-text p , a{
    font-size: 18px;
    color: #E5E7EB;
}
button {
    width: 100px;
    height: 25px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 15px;
    border-color: #3882F6;
    border: 2px;
}
a {
  /* this removes the line under our links */
  text-decoration: none;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
  margin: 0;
}

.container3 {
    background-color: #E5E7EB;
}

.container4 {
    background-color: #1f2937;
}
